@page "/personas/crear"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

<h3>Crear Persona</h3>

<FormularioPeople OnValidSubmit="Crear" People="People">

</FormularioPeople>

@code {
    private People People = new People();

    async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/people", People);
        if (httpResponse.Error)
        {
           var body = await httpResponse.GetBody();
           await mostrarMensajes.MostrarMensajeError(body);
        }
        else
        {
            navigationManager.NavigateTo("/personas");
        }
    }
}
