@page "/personas"
@inject IRepositorio repositorio

<h3>Indice Personas</h3>

<div class="form-group">
    <a class="btn btn-info" href="personas/crear">Crear Persona</a>
</div>

<GenericList Listado="People">
    <HayRegistrosCompletos>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in People)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                        <td>@item.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompletos>
</GenericList>

@code {
    public List<People> People { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repositorio.Get<List<People>>("api/people");
        People = responseHttp.Response;
    }
}

