@page "/generos/crear"

<h3>Add Gender</h3>

<EditForm Model="Gender" OnSubmit="Crear">
    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Gender.Name" />
        </div>
    </div>
    <button class="btn btn-success" type="button">Guardar Cambios</button>
</EditForm>

@code {
    private Gender Gender = new Gender();

    private void Crear()
    { 
        
    }
}
