@page "/generos/crear"

<h3>Crear Género</h3>

<FormularioGender OnValidSubmit="Crear" Gender="Gender" />

@code {
    private Gender Gender = new Gender();

    private void Crear()
    {
        Console.WriteLine("Ver");
    }
}
