@page "/generos/crear"
@inject IRepositorio repositoio
@inject NavigationManager navigationManager

<h3>Crear Género</h3>

<FormularioGender OnValidSubmit="Crear" Gender="Gender" />

@code {
    private Gender Gender = new Gender();

    private async Task Crear()
    {
        var httpResponse = await repositoio.Post("api/gender", Gender);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }
        else
        {
            navigationManager.NavigateTo("/generos");
        }
    }
}
