@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>AddMovie</h3>

<button @onclick="Crear">Salvar Pelicula</button>

@code {
    void Crear()
    {
        Console.WriteLine(navigationManager.BaseUri);
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
}
