@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>Crear Película</h3>

<FormularioMovie Movie="Movie" OnValidSubmit="Crear" >

</FormularioMovie>

@code {

    private Movie Movie = new Movie();
    void Crear()
    {
        Console.WriteLine(navigationManager.BaseUri);
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
}
