@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<h3>Crear Película</h3>

<FormularioMovie Movie="Movie" OnValidSubmit="Crear" 
                 GenerosNoSeleccionados="GenerosNoSeleccionados" >
</FormularioMovie>

@code {

    private Movie Movie = new Movie();
    private List<Gender> GenerosNoSeleccionados = new List<Gender>();

    protected override void OnInitialized()
    {
        GenerosNoSeleccionados = new List<Gender>()
        {
            new Gender(){ Id= 1, Name = "Comedia"},
            new Gender(){ Id= 2, Name = "Drama"},
            new Gender(){ Id= 3, Name = "Amor"},
            new Gender(){ Id= 4, Name = "Acción"}
        };
    }

    async Task Crear()
    {
        var httpResponse = await repositorio.Post<Movie, int>("api/movies", Movie);
        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(mensajeError);
        }
        else
        {
            var MovieId = httpResponse.Response;
            navigationManager.NavigateTo($"/pelicula/{MovieId}/{Movie.Title.Replace(" ", "-")}");
        }
    }
}
