@page "/"
@inject IRepositorio repositorio

<div>
    <h3>Movies</h3>
    <MoviesLists Movies="Movies" />
</div>
 
@code{

    private List<Movie> Movies;
    protected override void OnInitialized()
    {
        //await Task.Delay(3000);
        //movies = new List<Movie>();
        //movies = null;
        Movies = repositorio.ObtenerPeliculas();
    }
}