<div>
    <p>Title: <b>@Movie.Title</b></p>
    <p>Release Date: <b>@Movie.ReleaseDate.ToString("dd MM yyyy")</b></p>
    @if (DisplayButtons)
    {
        <div>
            <button @onclick="@(() => MovieDelete.InvokeAsync(Movie))">Delete</button>
        </div>
    }
</div>

@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Movie> MovieDelete { get; set; }

    
}
