@inject IJSRuntime js

<div style="display: flex; flex-wrap: wrap; align-items: center;">
    <GenericList Listado="Movies">
        <HayRegistros Context="movie">
            <IndividualMovie Movie="movie" MovieDelete="MovieDelete" />
        </HayRegistros>
    </GenericList>
</div>



@code {

    [Parameter] public List<Movie> Movies { get; set; }


    bool displayButtons = true;

    async Task MovieDelete(Movie movie)
    {
        var confirmado = await js.Confirm($"¿Desea borrar la película {movie.Title}?");
        if (confirmado)
        {
            Movies.Remove(movie);
            Console.WriteLine($"Se ha eliminado una pelicula {movie.Title}");
        }
    }
}
